<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsm.persistence.EventMapper">
    <select id="getEventList" resultType="com.hdsm.domain.EventDTO">
        select *
        from event
        order by eid
    </select>

    <!-- 이벤트 상세페이지 가져오기 -->
    <select id="getEventDetail"
            resultType="com.hdsm.domain.EventDTO">
        select *
        from event
        where eid = #{eid}
    </select>

    <select id = "getEventNumber" resultType="int">
        select event_eid from coupon where ccode = #{ccode};
    </select>

</mapper>