<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- parameterType="com.hdsm.domain.MemberVO" -->
<mapper namespace="com.hdsm.persistence.KakaoMemberMapper">
    <!--    카카오 회원 SNS 테이블에 넣기 -->
    <insert id="insertMember2" parameterType="com.hdsm.domain.KakaoUserDTO">
        INSERT INTO sns (mid, mname, memail, mtel, mzipcode,
                         maddress1, maddress2, buysum, mgrade, mdate, mpoint, menabled)
        VALUES (#{mid}, #{mname}, #{memail}, #{mtel}, #{mzipcode},
                #{maddress1}, #{maddress2}, 0, 'silver', sysdate, 0, 0)
    </insert>
    <delete id="deleteKakaoMember">
        delete from sns where mid = #{mid}
    </delete>
</mapper>