@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

/* 화면 전체 렙 */
.wrapper {
	width: 100%;
}

/* content 랩 */
.wrap {
	width: 800px;
	margin: auto;
}
/* 페이지 제목 */
.subjecet {
	width: 100%;
	height: 120px;
	text-align: center;
}

.subjecet span {
	font-size: 80px;
	font-weight: 900;
}


/* 중복아이디 존재하지 않는경우 */
.id_input_re_1 {
	color: green;
	display: none;
}
/* 중복아이디 존재하는 경우 */
.id_input_re_2 {
	color: red;
	display: none;
}

/* 비밀번호 영역 */
.pw_wrap {
	width: 100%;
	margin-top: 20px;
}

.pw_name {
	font-size: 25px;
	font-weight: bold;
}

.pw_input_box {
	border: 1px solid black;
	height: 31px;
	padding: 10px 14px;
}

.pw_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

/* 비밀번호 확인 영역 */
.pwck_wrap {
	width: 100%;
	margin-top: 20px;
}

.pwck_name {
	font-size: 25px;
	font-weight: bold;
}

.pwck_input_box {
	border: 1px solid black;
	height: 31px;
	padding: 10px 14px;
}

.pwck_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

/* 비밀번호 영역 */
.mail_wrap {
	width: 100%;
	margin-top: 20px;
}

.mail_name {
	font-size: 25px;
	font-weight: bold;
}

.mail_input_box {
	border: 1px solid black;
	height: 31px;
}

.mail_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

.mail_check_wrap {
	margin-top: 20px;
}

.mail_check_input_box {
	border: 1px solid black;
	height: 20px;
	padding: 10px 16px;
	width: 27%;
	float: left;
}

#mail_check_input_box_false {
	background-color: #ebebe4;
}

#mail_check_input_box_true {
	background-color: white;
}

.mail_check_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

.mail_check_button {
	border: 1px solid black;
	height: 42px;
	width: 20%;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	font-weight: 900;
	background-color: #C69C6C;
	cursor: pointer;
	color: white;
}

.correct {
	color: green;
}

.incorrect {
	color: red;
}
/* 핸드폰번호 영역 */
.tel_wrap {
	width: 100%;
	margin-top: 20px;
}

.tel_name {
	font-size: 25px;
	font-weight: bold;
}

.tel_input_box {
	border: 1px solid black;
	height: 31px;
	padding: 10px 14px;
}

.tel_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

/* 이름 영역 */
.user_wrap {
	width: 100%;
	margin-top: 20px;
}

.user_name {
	font-size: 25px;
	font-weight: bold;
}

.user_input_box {
	border: 1px solid black;
	height: 31px;
	padding: 10px 14px;
}

.user_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

/* 주소 영역 */
.address_wrap {
	width: 100%;
	margin-top: 20px;
}

.address_name {
	font-size: 25px;
	font-weight: bold;
}


.address_button {
	border: 1px solid black;
	
	text-align: center;
	background-color: white;
	cursor: pointer;
	color : black;
}

/* 가입하기 버튼 */
.join_button_wrap {
	margin-top: 30px;
	text-align: center;
}

.join_button {
	/* width: 100%; */
	height: 40px;
	/* background-color: #6AAFE6;*/
	font-size: 25px;
	font-weight: 900;
	/* color: white; */
}
/* 가입하기 버튼 */
.cancle_button {
	margin-top: 0px;
	text-align: center;
}

.cancle_button {
	/* width: 100%; */
	height: 40px;
	/* background-color: #6AAFE6;*/
	font-size: 25px;
	font-weight: 900;
	/* color: white; */
}

/* 유효성 검사 문구 */
.final_id_ck {
	display: none;
}

.final_pw_ck {
	display: none;
}

.final_pwck_ck {
	display: none;
}

.final_name_ck {
	display: none;
}

.final_mail_ck {
	display: none;
}

.final_addr_ck {
	display: none;
}

/* 비밀번호 확인 일치 유효성검사 */
.pwck_input_re_1 {
	color: green;
	display: none;
}

.pwck_input_re_2 {
	color: red;
	display: none;
}

/* float 속성 해제 */
.clearfix {
	clear: both;
}

#wrapper.login .cnts_title {
	height: 88px;
	margin: 0 auto;
	border-bottom: none;
	text-align: center;
}

#wrapper.login .cnts_title span {
	display: block;
	padding-top: 30px;
	font-size: 26px;
	color: #363636;
}

.join_title {
	padding: 50px 0 30px;
	text-align: center;
}

.join_title .title {
	padding-bottom: 20px;
	font-size: 20px;
	color: #222;
}

.join_title .s_title {
	font-size: 14px;
	line-height: 24px;
}

.join_title .s_title em {
	font-size: 14px;
	line-height: 24px;
}

.id_ok {
	color: #008000;
	display: none;
}

.id_already {
	color: #6A82FB;
	display: none;
}

.pw_ok {
	color: #008000;
	display: none;
}

.pw_notokay {
	color: #6A82FB;
	display: none;
}